
/* #####     Main style     ##### */
/* ############################## */

html, body { background: url('../img/background.gif'); height: 100%;}
a.menu { text-decoration: none; color: #5c5c5c; }
a.menu:hover {color: #ec5f01; }
a.content { text-decoration: none; color: #ec5f01; }
a.content:hover {text-decoration: underline; color: #5c5c5c; }
a.button {
  background-color: #ec5f01;
  background-image: -moz-linear-gradient(top, #ec5f01, #e77c35);
  background-image: -ms-linear-gradient(top, #ec5f01, #e77c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec5f01), to(#e77c35));
  background-image: -webkit-linear-gradient(top, #ec5f01, #e77c35);
  background-image: -o-linear-gradient(top, #ec5f01, #e77c35);
  background-image: linear-gradient(top, #ec5f01, #e77c35);
  background-repeat: repeat-x;
  margin: 60px 0 0 60px;
  padding: 9px 33px 9px 33px;
  text-decoration: none;
  text-shadow: #5c5c5c 2px 1px 2px; 
  color: #ffffff; 
  border-radius: 4px;
  box-shadow: 3px 3px 3px #ccc;
}

a.button:hover {
  background-color: #ec5f01;
  background-image: -moz-linear-gradient(top, #e77c35, #ec5f01);
  background-image: -ms-linear-gradient(top, #e77c35, #ec5f01);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e77c35), to(#ec5f01));
  background-image: -webkit-linear-gradient(top, #e77c35, #ec5f01);
  background-image: -o-linear-gradient(top, #e77c35, #ec5f01);
  background-image: linear-gradient(top, #e77c35, #ec5f01);
  background-repeat: repeat-x;
  margin: 60px 0 0 60px;
  padding: 9px 33px 9px 33px;
  text-decoration: none;
  text-shadow: #5c5c5c 2px 1px 2px; 
  color: #ffffff; 
  border-radius: 4px;
  box-shadow: 3px 3px 3px #ccc;
}

a.button_ajax {
  background-color: #ec5f01;
  background-image: -moz-linear-gradient(top, #ec5f01, #e77c35);
  background-image: -ms-linear-gradient(top, #ec5f01, #e77c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec5f01), to(#e77c35));
  background-image: -webkit-linear-gradient(top, #ec5f01, #e77c35);
  background-image: -o-linear-gradient(top, #ec5f01, #e77c35);
  background-image: linear-gradient(top, #ec5f01, #e77c35);
  background-repeat: repeat-x;
  margin: 60px 0 0 60px;
  padding: 2px 35px 2px 35px;
  text-decoration: none;
  text-shadow: #5c5c5c 2px 1px 2px; 
  color: #ffffff; 
  border-radius: 4px;
  box-shadow: 3px 3px 3px #ccc;
}

a.button_ajax:hover {
  background-color: #ec5f01;
  background-image: -moz-linear-gradient(top, #e77c35, #ec5f01);
  background-image: -ms-linear-gradient(top, #e77c35, #ec5f01);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e77c35), to(#ec5f01));
  background-image: -webkit-linear-gradient(top, #e77c35, #ec5f01);
  background-image: -o-linear-gradient(top, #e77c35, #ec5f01);
  background-image: linear-gradient(top, #e77c35, #ec5f01);
  background-repeat: repeat-x;
  margin: 60px 0 0 60px;
  padding: 2px 35px 2px 35px;
  text-decoration: none;
  text-shadow: #5c5c5c 2px 1px 2px; 
  color: #ffffff; 
  border-radius: 4px;
  box-shadow: 3px 3px 3px #ccc;
}

a.button_zajednica {
  background-color: #ec5f01;
  background-image: -moz-linear-gradient(top, #ec5f01, #e77c35);
  background-image: -ms-linear-gradient(top, #ec5f01, #e77c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec5f01), to(#e77c35));
  background-image: -webkit-linear-gradient(top, #ec5f01, #e77c35);
  background-image: -o-linear-gradient(top, #ec5f01, #e77c35);
  background-image: linear-gradient(top, #ec5f01, #e77c35);
  background-repeat: repeat-x;
  margin: 60px 0 0 60px;
  padding: 2px 50px 2px 50px;
  text-decoration: none;
  text-shadow: #5c5c5c 2px 1px 2px; 
  color: #ffffff; 
  border-radius: 4px;
  box-shadow: 3px 3px 3px #ccc;
}

a.button_zajednica:hover {
  background-color: #ec5f01;
  background-image: -moz-linear-gradient(top, #e77c35, #ec5f01);
  background-image: -ms-linear-gradient(top, #e77c35, #ec5f01);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e77c35), to(#ec5f01));
  background-image: -webkit-linear-gradient(top, #e77c35, #ec5f01);
  background-image: -o-linear-gradient(top, #e77c35, #ec5f01);
  background-image: linear-gradient(top, #e77c35, #ec5f01);
  background-repeat: repeat-x;
  margin: 60px 0 0 60px;
  padding: 2px 50px 2px 50px;
  text-decoration: none;
  text-shadow: #5c5c5c 2px 1px 2px; 
  color: #ffffff; 
  border-radius: 4px;
  box-shadow: 3px 3px 3px #ccc;
}

a.login_link { text-decoration: underline; color: #ffffff; text-shadow: #5c5c5c 2px 1px 2px; }
a.login_link:hover {text-decoration: underline; color: #5c5c5c; text-shadow: #ffffff 2px 1px 2px; }

a.btn-small {
  margin: 20px 0 0 20px;
  padding: 5px 15px 5px 15px;
}
a.btn-small:hover {
  margin: 20px 0 0 20px;
  padding: 5px 15px 5px 15px;
}

/* #####     Header style     ##### */
/* ################################ */

#header {
  height: 120px;
  background-color: #ffffff;
  background: url('../img/background.gif');
}

#header_top {
  margin: 0 auto 0 auto;
  width: 1080px;
  height: 80px;
}

#header_bottom {
  height: 30px;
  background-color: #ec5f01;
}

#logo {
  float: left;
  height: 120px;
  width: 400px;
  font-weight: bold;
  line-height: 36px;
  color: #5c5c5c;
}

#logo_h1 {
  margin: -65px 0 0 90px;
  width: 200px;
  font-size: 2.6em;
  text-shadow: #ccc 3px 2px 3px;
}

#logo_h4 {
  margin: 0 0 0 90px;
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #ffffff;
  text-shadow: #5c5c5c 2px 1px 2px;
}

#menu {
  margin: 50px 0 0 0;
  float: right;
  width: 550px;
  height: 24px;
  text-shadow: #ccc 2px 1px 2px;
}

#menu_right {
  margin: 0 auto 0 auto;
  float: right;
  width: 550px;
  height: 24px;
  font-size: 14px;
  font-style: italic;
}

#menu_right ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu_right li {
  margin: 0 1.1em;
  float: left;
  list-style-type: circle;
  color: #ec5f01;
}



/* #####     Content style     ##### */
/* ################################# */

#wrap {
  position: relative;
  margin: 0 auto -200px auto;
  min-height: 100%;
  width: 1080px;
  color: #5c5c5c;
}

#content_main {
  width: 680px;
}

#content_left {
  float: left;
  width: 660px;
}

#content_left ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
}

#content_right {
  float: right;
  width: 380px;
}

tr.red0 td {
  background-color: #ccc;
  font-weight: bold;
  box-shadow: 3px 3px 3px #5c5c5c;
}
tr.red1 td {
  background-color: #ffffff;
  font-weight: bold;
  box-shadow: 3px 3px 3px #5c5c5c;
}

#content_left_bottom {
  margin: 40px 0 0 0;
}

#content_right_bottom {
  margin: 300px 0 0 0;
}

#stranice {
  color: #646F7E;

  margin: 0 auto 0 150px;
  width: 400px;
  height: 50px;
  top: 450px;
  left: 120px;
}

img.stranice {
  position: relative;
  width: 17px;
  height: 17px;
  padding: 3px;
  top: 6px;
}




/* #####     Login style     ##### */
/* ############################### */

.login {
/*  position: absolute;
  top: 94px; */
  margin: -35px 0 0 680px;
  width: 345px;
  font-size: 16px; 
  font-style: italic; 
  color: #ffffff;
  text-shadow: #5c5c5c 2px 1px 2px;
}

.login_postavke {
/*  position: absolute;
  top: 94px; */
  margin: -35px 0 0 940px;
  font-size: 16px; 
  font-style: italic; 
  color: #ffffff;
}




/* #####     Form style     ##### */
/* ############################### */

.tablica {
  border: 1px solid black;
}

.form_left {
  font-weight: bold;
  font-size: 14px; 
  color: #5c5c5c;
}

.form_right {
  font-size: 14px;
  font-weight: bold;
}

input,
textarea {
  -webkit-box-shadow: inset 0 1px 1px #ec5f01;
  -moz-box-shadow: inset 0 1px 1px #ec5f01;
  box-shadow: inset 0 1px 1px #ec5f01;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input:focus,
textarea:focus {
  border-color: #eb640a;
  -webkit-box-shadow: inset 0 1px 1px #ec5f01, 0 0 8px #eb640a;
  -moz-box-shadow: inset 0 1px 1px #ec5f01, 0 0 8px #eb640a;
  box-shadow: inset 0 1px 1px #ec5f01, 0 0 8px #eb640a;
  outline: 0;
  outline: thin dotted \9;
}

input,
textarea,
select,
.uneditable-input {
  width: 210px;
  height: 30px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 18px;
  color: #5c5c5c;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.submit_button {
  background-color: #ec5f01;
  background-image: -moz-linear-gradient(top, #ec5f01, #e77c35);
  background-image: -ms-linear-gradient(top, #ec5f01, #e77c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec5f01), to(#e77c35));
  background-image: -webkit-linear-gradient(top, #ec5f01, #e77c35);
  background-image: -o-linear-gradient(top, #ec5f01, #e77c35);
  background-image: linear-gradient(top, #ec5f01, #e77c35);
  background-repeat: repeat-x;
  padding: 7px 33px 11px 33px;
  text-decoration: none;
  text-shadow: #5c5c5c 2px 1px 2px; 
  color: #ffffff; 
  border-radius: 4px;
  box-shadow: 3px 3px 3px #ccc;
}

.submit_button:hover {
  background-color: #ec5f01;
  background-image: -moz-linear-gradient(top, #e77c35, #ec5f01);
  background-image: -ms-linear-gradient(top, #e77c35, #ec5f01);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e77c35), to(#ec5f01));
  background-image: -webkit-linear-gradient(top, #e77c35, #ec5f01);
  background-image: -o-linear-gradient(top, #e77c35, #ec5f01);
  background-image: linear-gradient(top, #e77c35, #ec5f01);
  background-repeat: repeat-x;
  padding: 7px 33px 11px 33px;
  text-decoration: none;
  text-shadow: #5c5c5c 2px 1px 2px; 
  color: #ffffff; 
  border-radius: 4px;
  box-shadow: 3px 3px 3px #ccc;
}

.form_left_reg {width:486px;height:140px;}

#actions
{
    margin: 25px 0 0 0;
}

#submit
{       
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#submit:hover,#submit:focus
{       
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}   

#submit:active
{       
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner
{
  border: none;
}


#actions a
{
    color: #3151A2;    
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

#h1_form
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

#h1_form:after, #h1_form:before
{
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 120px;
}

#h1_form:after
{
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);
    right: 0;
}

#h1_form:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

.inputs input, textarea
{
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 7px 15px 7px 30px;
    margin: 0 0 10px 0;
    width: 300px; /* 353 + 2 + 45 = 400 */
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    float: right;
    color: #5c5c5c;
}

.validacija {
  margin: -10px 0 0 50px;
  float: right;
}




/* #####     Comments style     ##### */
/* ################################## */

#comments {
  width: 460px;
  padding-left: 10px;
}

/* #####     Color changer style  ### */
/* ################################## */
#colorchanger { float:left; }
.colorbox { width:22px; height:22px; border:1px solid #ccc; float:left; margin:3px; cursor:pointer; display:block; }
.colorblue { background-color:#90bcd0; }
.colorblue:hover { background-color:#4276b7; }
.colororange { background-color:#ec5f01; }
.colororange:hover { background-color:#ff3300; }
.colordarkred { background-color:#c61703; }
.colordarkred:hover { background-color:#8e0f01; }
.colorgreen { background-color:#78A848; }
.colorgreen:hover { background-color:#189048; }



/* #####     Footer style     ##### */
/* ################################ */

.clearfooter {
  height: 200px;
  clear: both;
}

#footer {
  margin-top: 90px;
  padding-top: 30px;
  background: #ebebeb;
  background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
  background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
  background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
  background-image: linear-gradient(top, #ebebeb, #e1e1e1); 
  position: relative;
  height: 120px;
  color: #e77c35;
  border-top: solid 1px #e77c35;
  border-top-left-radius: 10px 5px;
  border-top-right-radius: 10px 5px;
}

#footer_center {
  margin: 0 auto 0 auto;
  padding-top: 10px;
  width: 280px;
  font-size: 16px;
  font-family: verdana;
  text-shadow: 2px 2px 2px #ccc;
}