<div id="footer">
    <div id="footer_center">
        <p>WebDiP Projekt - Siniša Mikulić</p>
    </div>
</div>

<script type="text/javascript">
        function setValue(field)
        {
            if(''!=field.defaultValue)
            {
                if(field.value==field.defaultValue)
                    {
                        field.value='';
                    }
                else if(''==field.value)
                {
                    field.value=field.defaultValue;
                }
            }
        }
    </script>
</body>
</html>